@import "../../assets/functions";

.textfield {
  width: 100%;
  height: pxToRem(68);
  border-radius: pxToRem(60);
  outline: none;
  transition: all 0.2s;
  border: pxToRem(2) solid transparent;
  background: rgb(var(--weather-textfield-default-bg));
  padding: 0 pxToRem(32);
  font-family: var(--weather-font);
  font-size: pxToRem(20);
  color: rgb(var(--weather-base1-color));

  &:focus, &:hover {
    background: rgb(var(--weather-light-color));
    border-color: rgb(var(--weather-secondary-color));
  }

  &::placeholder {
    color: rgb(var(--weather-base2-color));
  }
}