@mixin colorsPalette {
  --weather-primary-color: 61, 128, 228;
  --weather-secondary-color: 255, 186, 36;
  --weather-light-color: 255, 255, 255;
  --weather-base1-color: 27, 40, 60;
  --weather-base2-color: 152, 169, 183;
  --weather-textfield-default-bg: 237, 242, 246;
}
